@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #eee;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background: white;
  padding: 0.75em;
  border-bottom: 1px solid #ccc;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 200px;
}

.header__send i {
  font-size: 1.5em;
}

.main__list {
  list-style-type: none;
  display: flex;
  padding: 1em;
}

.main__item img {
  width: 80px;
  border-radius: 5em;
  padding: 0.25em;
}

.main__item.active img {
  border: 3px solid red;
}

.card {
  border: 1px solid #ccc;
  border-radius: 1em;
  margin: 1em;
}

.card__header {
  padding: 0.5em;
  background: white;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  justify-content: space-between;
}

.card__header--profile,
.card__header--options {
  display: flex;
  align-items: center;
}

.card__header--profile img {
  width: 50px;
  border-radius: 5em;
}

.card__header--profile span {
  margin-left: 0.5em;
  font-weight: bold;
}

.card__body img {
  width: 100%;
}

.card__header--settings {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.card__header--settings i {
  font-size: 1.5em;
}

.card__header--settings button,
.card__header--options button {
  border: 0;
  outline: none;
}

.card__header--group i {
  margin-right: 1em;
}

.card__footer {
  padding: 0.5em;
  background: #ddd;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.card__footer--likes {
  display: flex;
  align-items: center;
}

.card__footer--likes img {
  width: 40px;
  border-radius: 5em;
}

.card__footer--likes span {
  margin-left: 0.5em;
  font-size: 0.885em;
}
